#title {
  color: black;
  font-size: 50px;
  text-align: center;
}

#subtitle {
  color: black;
  font-size: 15px;
  text-align: center;
}

.hero {
  background-image: url("https://4kwallpapers.com/images/wallpapers/elden-ring-pc-games-playstation-4-playstation-5-xbox-one-3440x1440-7712.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
}

body {
  font-family: "Spectral", "fallback", Helvetica, Arial, sans-serif;
  background-color: rgb(26, 27, 32);
}

#hero-pixel-art {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 70px;
  width: auto;
}

#home-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.card {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  background-color: black;
  opacity: 0.8;
}

.card:hover {
  transform: scale(1.05);
}

.card__header {
  font-size: 20px;
  margin: 0;
  color: #007bff;
}

.card__text {
  font-size: 14px;
}

.card__btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

#title {
  color: #ffffff;
}

#subtitle {
  color: #ffffff;
}

h3 {
  color: #ecd019;
}

p {
  color: #ffffff;
}

a[role="button"] {
    padding: 5px 15px;
    border: none;
}

/* 404 Page CSS */
.fof-container {
  display: table;
  width: 100%;
  height: 100vh;
  text-align: center;
  color: black;
}

.fof {
  display: table-cell;
  vertical-align: middle;
}

.fof h1 {
  color: whitesmoke;
  font-size: 50px;
  display: inline-block;
  padding-right: 12px;
  animation: type 0.6s alternate infinite;
}

@keyframes type {
  from {
    box-shadow: inset -3px 0px 0px #888;
  }
  to {
    box-shadow: inset -3px 0px 0px transparent;
  }
}





/* styles.css */

/* Style for the main content */
.boss-info {
    background-color: #f0f0f0;
    padding: 20px;
}

/* Style for the image container */
.image-container {
    display: flex;
    align-items: center;
}

/* Style for the boss image */
#boss-image {
    max-width: 100%;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-right: 20px; /* Adjust spacing as needed */
}

/* Style for boss details */
.boss-details {
    flex-grow: 1; /* Expand to fill remaining space */
}

/* Style for boss name */
#name {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

/* Style for other boss attributes (health, defense, type) */
#health, #defense, #type {
    font-size: 16px;
    margin-top: 5px;
}

/* Style for boss lore */
#lore {
    font-size: 14px;
    margin-top: 10px;
}

/* Style for boss description */
#description {
    font-size: 14px;
    margin-top: 10px;
}
